* {
	padding: 0;
	margin: 0;
	vertical-align: baseline;
	list-style: none;
	border: 0;
}

body {
	overflow-x: hidden;
}

@font-face {
	font-family: Arciform;
	src: url(Arciform.otf);
}

@font-face2 {
	font-family: "Raleway", sans-serif;
	src: url("https://fonts.googleapis.com/css?family=Raleway");
}

body {
	font-family: "Raleway", sans-serif;
}

h2 {
	color: black;
	font-family: Arciform;
	margin: 5% 0 0 10%;
}

h3 {
	color: black;
	font-family: Arciform;
	margin: 5% 0 0 10%;
}

a {
	color: #fff;
}

/* Style the list items */
#myUL {
	max-height: 55vh;
	overflow: auto;
}

#myUL li {
	cursor: pointer;
	position: relative;
	padding: 12px 8px 12px 40px;
	list-style-type: none;
	background: #eee;
	font-size: 18px;
	transition: 0.2s;

	/* make the list items unselectable */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
#myUL li:nth-child(odd) {
	background: #f9f9f9;
}

/* Darker background-color on hover */
#myUL li:hover {
	background: #ddd;
}

/* Style the close button */
.close {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 12px 16px 12px 16px;
}

.close:hover {
	background-color: #f44336;
	color: #ffffff;
}

/* Style the header */
.header {
	background-color: #ff8c00;
	padding: 30px 40px;
	color: white;
	text-align: center;
}

/* Clear floats after the header */
.header:after {
	content: "";
	display: table;
	clear: both;
}

/* Style the input */
input {
	margin: 0;
	border: none;
	border-radius: 4px 0 0 4px;
	width: 75%;
	padding: 10px;
	float: left;
	font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
	padding: 10px;
	background: #d9d9d9;
	color: #555;
	float: left;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	transition: 0.3s;
	border-radius: 0 4px 4px 0;
}

.addBtn:hover {
	background-color: #bbb;
}

.gradient-y-r {
	background: -moz-linear-gradient(
		55deg,
		rgba(255, 156, 56, 1) 0%,
		rgba(255, 156, 56, 1) 0%,
		rgba(255, 56, 56, 1) 100%
	); /* ff3.6+ */
	background: -webkit-gradient(
		linear,
		left bottom,
		right top,
		color-stop(0%, rgba(255, 156, 56, 1)),
		color-stop(0%, rgba(255, 156, 56, 1)),
		color-stop(100%, rgba(255, 56, 56, 1))
	); /* safari4+,chrome */
	background: -webkit-linear-gradient(
		55deg,
		rgba(255, 156, 56, 1) 0%,
		rgba(255, 156, 56, 1) 0%,
		rgba(255, 56, 56, 1) 100%
	); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(
		55deg,
		rgba(255, 156, 56, 1) 0%,
		rgba(255, 156, 56, 1) 0%,
		rgba(255, 56, 56, 1) 100%
	); /* opera 11.10+ */
	background: -ms-linear-gradient(
		55deg,
		rgba(255, 156, 56, 1) 0%,
		rgba(255, 156, 56, 1) 0%,
		rgba(255, 56, 56, 1) 100%
	); /* ie10+ */
	background: linear-gradient(
		35deg,
		rgba(255, 156, 56, 1) 0%,
		rgba(255, 156, 56, 1) 0%,
		rgba(255, 56, 56, 1) 100%
	); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF3838', endColorstr='#FF9C38',GradientType=0 ); /* ie6-9 */
}

.logo {
	width: 70px;
	height: 35px;
	border-radius: 100px;
}

a span {
	font-weight: 550;
	padding-right: 25px;
}

a:hover {
	color: #d9d9d9;
}

form {
	display: "inline-block";
	margin-left: 20%;
}

@media only screen and (max-width: 980px) {
	.hide-mobile {
		display: none;
	}
}

@media only screen and (max-width: 720px) {
	.partial-hide-mobile {
		width: 60%;
	}
	form {
		margin: 0;
	}

	nav div,
	nav form,
	nav a,
	nav span,
	div a,
	a span {
		margin: 0;
		padding: 0;
		display: block-inline;
	}
}

a:link,
a:visited {
	text-decoration: none;
}

.vr {
	height: 40px;
	text-align: center;
	color: white;
	border-left: 1px solid;
	margin-left: 20px;
	margin-right: 20px;
	vertical-align: middle;
}

body {
	background-color: #e8e8e8;
}

hr {
	width: 80%;
	margin: 0 10% 0 10%;
}

.hover-opacity-off:hover {
	opacity: 1;
}

.text-title {
	font-size: 150%;
	text-align: center;
	font-weight: 200;
	color: #ff8c00;
}

.display-topleft {
	position: absolute;
	left: 0;
	top: 0;
}

.orange {
	color: #fff !important;
	background-color: #ff8c00 !important;
}

.animate-opacity {
	animation: opac 0.8s;
}
@keyframes opac {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.display-container:hover .display-hover {
	display: block;
}

.btn {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: none;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
}

.round {
	border-radius: 4px;
}

.padding {
	padding: 8px 16px !important;
}

.text-red {
	color: #f44336 !important;
}

.text-white {
	color: #fff !important;
}

.text-blue {
	color: #2196f3 !important;
}

div {
	font-size: 100%;
}

div .text-center {
	color: #fff;
	font-size: 85%;
	background-color: #ff8c00;
	font-weight: bold;
	border-radius: 14px;
	width: 120%;
	height: auto;
}

.off {
	display: none;
}

.off:hover {
	display: block;
}

.display-middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.display-bottomleft {
	position: absolute;
	left: 0;
	bottom: 0;
}

.display-topright {
	position: absolute;
	right: 0;
	top: 0;
}

.margin {
	margin: 16px !important;
}
.btn:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.opacity-min {
	opacity: 0.85;
}

.display-container {
	position: relative;
}

.footer-bottom {
	padding-top: 10px;
	border-top: 1px solid #666;
	background: #1e1e1e;
	height: 60px;
	overflow: hidden;
	white-space: nowrap;
}

.copyright-text p {
	color: #ccc;
	margin-top: 9px;
	margin-bottom: 0;
}

.social-link li {
	display: inline-block;
	margin: 0 5px;
}
.social-link li a {
	color: #ccc;
	width: 40px;
	height: 40px;
	line-height: 45px;
	text-align: center;
	display: inline-block;
	font-size: 18px;
	transition: 0.5s;
}

.social-link li a:hover {
	color: #555555;
}

.dropdown-content {
	right: 0;
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	cursor: default;
	min-width: 250px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 10px;
	border-radius: 4px;
	z-index: 1;
}

.dropdown-content span {
	font-size: 14px;
	font-weight: 300;
	color: black;
	color: orange;
	cursor: pointer;
	margin: 0px 0px 0px 10px;
	padding: 0;
	line-height: 50px;
}

.dropdown-content input {
	height: 30px;
	border-radius: 4px;
	border: 1px solid #dddddd;
	width: 90%;
	margin: 10px 20px 5px 10px;
	font-size: 14px;
}

.dropdown:hover .dropdown-content {
	display: block;
}

a.dropdown {
	display: inline-block;
}

.dropdown hr {
	display: inline-block;
}

.login-btn {
	margin: 10px 16px 0 0;
	background-color: #ff8c00;
	color: white;
	cursor: pointer;
	float: right;
	width: 70px;
	height: 30px;
	border-radius: 4px;
}

.signup-btn {
	margin: 10px 70px 10px 70px;
	background-color: #ff8c00;
	color: white;
	cursor: pointer;
	width: 120px;
	height: 30px;
	border-radius: 4px;
}

.login-btn:hover {
	color: #fdfdfd;
	background-color: #f98c06;
}

.facebook {
	width: 90%;
	text-align: center;
	cursor: pointer;
	height: 30px;
	font-size: 16px;
	line-height: 32px;
	background-color: #4267b2;
	color: white;
	border-radius: 25px;
}

.google {
	width: 90%;
	margin-left: 10px;
	text-align: center;
	cursor: pointer;
	height: 30px;
	font-size: 16px;
	line-height: 32px;
	background-color: #d62d20;
	color: white;
	border-radius: 25px;
}
